/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: nones;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

/* BOX SIZING EFFECT */

* {
  box-sizing: border-box;
}

/* BOX SIZING EFFECT */

.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.registration-form button {
  width: 50px;
  margin: auto;
}

h1 {
  font-size: 4rem;
  padding: 1rem;
}

h2 {
  font-size: 2.5rem;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.active {
  border-bottom: 2px dotted gray;
}

.login-container {
  height: 100vh;
  background-color: #edf1f8;
  display: flex;
}

/* .login-wrapper {
  display: flex;  
  width: 70%;
  height: 70%;
  margin: auto;
  border: 1px solid black;
} */

.login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid gray; */
  width: 40%;
  margin: auto;
  padding: 7rem 4rem;

}

.login-form input {
  height: 3rem;
  width: 70%;
  /* border: 1px solid gray; */
  border-radius: 4px;
}

.login-welcome {
  width: 80%;
  text-align: left;
  margin: auto;
  display: inline-block;
  text-align: justify;
}

.login-welcome h1,p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-welcome p {
  font-size: 16px;
  line-height: 1.5rem;
}

/* @media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    padding: 5px 20px;
    width: 100%;
  }
  .login-form {
    width: 80%;
    margin: auto;
  }
} */
